{
  "TablePublish": {
    "UploadBaseUrl": "http://192.168.0.181:8080/upload/fb/json",
    "DownloadBaseUrl": "http://192.168.0.181:8080/fb/json",
    "Username": "REPLACE_WITH_NAS_ID",
    "Password": "REPLACE_WITH_NAS_PW"
  },
  "ScriptPublish": {
    "UploadBaseUrl": "http://192.168.0.181:8080/upload/fb/scripts",
    "DownloadBaseUrl": "http://192.168.0.181:8080/fb/scripts",
    "Username": "REPLACE_WITH_NAS_ID",
    "Password": "REPLACE_WITH_NAS_PW"
  }
}
