[submodule "tools/flatbuffer-ex"]
	path = tools/flatbuffer-ex
	url = https://github.com/boyism80/flatbuffer-ex
[submodule "tools/data-converter"]
	path = tools/data-converter
	url = https://github.com/boyism80/data-converter
