.vs
Debug
Release
node_modules
resources/maps/*.map
resources/maps/*.block
resources/maps/*.txt
deploy/ubuntu
bin
__pycache__
optimize.bat
ssh
deploy/ssh
external-tool
obj
bin
dependency/include
dependency/lib
sftp-config.json
server/*/json
db/json
.vscode
build
tools/library
tools/map-split/*.txt
*/config
tools/runner/settings.json
*.sln*

server/game/maps
server/game/table*
server/**/*.vcxproj
server/**/*.user
server/**/*.filters

.fake
x64
CMakeFiles
