[submodule "tools/flatbuffer-ex"]
	path = tools/flatbuffer-ex
	url = https://github.com/boyism80/flatbuffer-ex
[submodule "tools/data-converter"]
	path = tools/data-converter
	url = https://github.com/boyism80/data-converter
[submodule "dependency/jsoncpp"]
	path = dependency/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "dependency/rabbitmq-c"]
	path = dependency/rabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c
[submodule "dependency/zlib"]
	path = dependency/zlib
	url = https://github.com/intel/zlib
[submodule "dependency/flatbuffers"]
	path = dependency/flatbuffers
	url = https://github.com/boyism80/flatbuffers
[submodule "dependency/cpp-async"]
	path = dependency/cpp-async
	url = https://github.com/microsoft/cpp-async
[submodule "dependency/cpp-httplib"]
	path = dependency/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "dependency/cpp_redis"]
	path = dependency/cpp_redis
	url = https://github.com/cpp-redis/cpp_redis
[submodule "dependency/lua"]
	path = dependency/lua
	url = https://github.com/boyism80/lua
[submodule "dependency/boost"]
	path = dependency/boost
	url = https://github.com/boostorg/boost
[submodule "dependency/cpp-terminal"]
	path = dependency/cpp-terminal
	url = https://github.com/jupyter-xeus/cpp-terminal
