.vs
Debug
Release
node_modules
resources/maps/*.map
resources/maps/*.block
resources/maps/*.txt
deploy/ubuntu
bin
__pycache__
optimize.bat
ssh
deploy/ssh
external-tool
obj
bin
dependency/include
dependency/lib
sftp-config.json
game/json
internal/json
db/json
.vscode
login/json
build
tools/library
tools/map-split/*.txt
*/config
tools/runner/settings.json
*.sln*

game/maps
game/table*
*.vcxproj
*.user
*.filters

.fake
x64
